@page "/sales"
@using MafiaApplication.Shared.Models
<h1>Liste <b>Verkauf</b> Güter-u-Region</h1>
<table class="table">
<thead>
    <tr style="background-color:grey;color:white">
        <td>
          Anzeige Id    
        </td>
        <td>
          Anzeige Land 
        </td>
          <td></td>
    </tr>
</thead>
<tbody>

    @foreach (var item in moonlit)
    {
        <tr>
            <td>@item.OrderID.ToString()</td>
            <td>@item.Country.ToString()</td>
             <td>
                <button class="btn btn-primary" >Record entfernen</button>
            </td>
        </tr>

    }
</tbody>



</table>

<!--
<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
-->
@code 
{
   
    @using System.Collections.ObjectModel;
    @using Sylvan.Data
    @using Sylvan.Data.Csv 

    private int currentCount = 0;

    private ObservableCollection<SalesItem> moonlit = 
        new ObservableCollection<SalesItem>();
 
    protected override async Task OnInitializedAsync()
    {
        // this method runs on page start and fetches CSV data
        // from path C:\Users\Benjamin\Downloads\100-Sales-Records
        using var csveinlesen = 
        CsvDataReader.Create("C:\\Users\\Benjamin\\Downloads\\100-Sales-Records\\Libre.csv");
        //var bind = DataBinder.Create<SalesItem>(csveinlesen);

        while(csveinlesen.Read())
        {
            currentCount++;
        }
        Console.WriteLine("How many -->"+currentCount);
        SalesItem norm = new SalesItem()
        {
            OrderID = 1,
            Country = "Germany"
        };
        moonlit.Add(norm);

      
    }
    private void IncrementCount()
    {
        currentCount++;
    }


}
