@page "/sales"
@using MafiaApplication.Shared.Models
<h1>Liste <b>Verkauf</b> Güter-u-Region</h1>
<table class="table">
<thead>
    <tr style="background-color:grey;color:white">
        <td>
colornzeige Id    
        </td>
        <td>
          Anzeige Land
        </td>
        <td>
         kurs: @control
        </td>

          <td></td>
    </tr>
</thead>
<tbody>

    @foreach (var item in liste)
    {
        <tr>
            <td>1</td>
            <td>@currentCount</td>
            <td>@item.Region.ToString()</td>
             <td>
                <button class="btn btn-primary"  style="background-color:yellow;color:black;
                font-weight:bolder" >Eintrag entfernen</button>
            </td>
        </tr>

    }
</tbody>



</table>


<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code 
{
   
    @using System.Collections.ObjectModel;
    @using Sylvan.Data;
    @using Sylvan.Data.Csv; 
    @using CsvHelper
    @using CsvHelper.Configuration;
    @using System.IO
    @using System.Text 
    @using System.Globalization
    @using System.Collections.Generic;

    private int currentCount = 0;
    private string control = "";
    private ObservableCollection<SalesItem> liste = 
        new ObservableCollection<SalesItem>();

    protected override async Task OnInitializedAsync()
    {
        currentCount = 1000;


        bool toggle = true;
        SalesItem normal = null;
        for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                normal = new SalesItem()
                    {

                        Country = "count",
                        Region = "UP"
                    };
            }
            else
            {
                normal = new SalesItem()
                    {

                        Country = "count",
                        Region = "DOWN"
                    };        
            }
            liste.Add(normal);
        }
    }
    private void IncrementCount()
    {
        currentCount++;
    }


}
